# Установить поведение по умолчанию для всех файлов
# Git будет автоматически определять текстовые файлы и конвертировать
# окончания строк в LF (Unix-стиль) при коммите.
* text=auto eol=lf

# Явно указать, что эти типы файлов являются текстовыми и должны использовать LF
*.py text eol=lf
*.sh text eol=lf
*.ddl text eol=lf
*.txt text eol=lf
*.md text eol=lf
.env* text eol=lf
.gitignore text eol=lf
*.yaml text eol=lf
*.conf text eol=lf
